<section id="hero" class="bg-white">
    <div class="md:grid-cols-2 md:grid">
        <div class="w-full h-[50vh] md:h-screen bg-red-500">

            <div id="default-carousel" class="relative w-full" data-carousel="slide">
                <!-- Carousel wrapper -->
                <div class="relative h-[50vh] overflow-hidden md:h-screen">
                    <!-- Item 1 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="https://picsum.photos/200" class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 2 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="https://picsum.photos/200" class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 3 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="https://picsum.photos/200" class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 4 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="https://picsum.photos/200" class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 5 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="https://picsum.photos/200" class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                </div>
            </div>

        </div>
        <div class="w-full p-4 h-[50vh] md:h-screen bg-[url('assets/images/bg.png')] bg-no-repeat bg-center bg-cover">
            <div class="h-full w-full flex justify-center items-center">
                {{ 'title' | translate }}
            </div>
        </div>
    </div>
</section>
<section id="bible" class="min-h-[300px] bg-[url('assets/images/bg.png')] bg-no-repeat bg-center bg-cover flex justify-center items-center">
    <div class="m-4 md:m-20 bg-white rounded-lg p-4">
        <div class="text-center my-2">test</div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, molestias facilis laborum voluptates ut iure commodi molestiae, fuga eligendi blanditiis aperiam quia nobis modi sint quod recusandae at sapiente reprehenderit?</div>
    </div>
</section>
<section id="ceremony" class="min-h-[300px] bg-[url('assets/images/bg.png')] bg-no-repeat bg-center bg-cover flex justify-center items-center">
    <div class="m-4 md:m-20 bg-white rounded-lg p-4">
        <div class="text-center my-2">test</div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, molestias facilis laborum voluptates ut iure commodi molestiae, fuga eligendi blanditiis aperiam quia nobis modi sint quod recusandae at sapiente reprehenderit?</div>
    </div>
</section>

<section id="moments" class="min-h-[300px] bg-[url('assets/images/bg.png')] bg-no-repeat bg-center bg-cover flex justify-center items-center">
    <div class="m-4 md:m-20 bg-white rounded-lg p-4">
        <div class="text-center my-2">test</div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, molestias facilis laborum voluptates ut iure commodi molestiae, fuga eligendi blanditiis aperiam quia nobis modi sint quod recusandae at sapiente reprehenderit?</div>
    </div>
</section>

<section id="registry" class="min-h-[300px] bg-[url('assets/images/bg.png')] bg-no-repeat bg-center bg-cover flex justify-center items-center">
    <div class="m-4 md:m-20 bg-white rounded-lg p-4">
        <div class="text-center my-2">test</div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, molestias facilis laborum voluptates ut iure commodi molestiae, fuga eligendi blanditiis aperiam quia nobis modi sint quod recusandae at sapiente reprehenderit?</div>
    </div>
</section>

<section id="rsvp" class="min-h-[300px] bg-[url('assets/images/bg.png')] bg-no-repeat bg-center bg-cover flex justify-center items-center">
    <div class="m-4 md:m-20 bg-white rounded-lg p-4">
        <div class="text-center my-2">test</div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, molestias facilis laborum voluptates ut iure commodi molestiae, fuga eligendi blanditiis aperiam quia nobis modi sint quod recusandae at sapiente reprehenderit?</div>
    </div>
</section>

<section id="qna" class="min-h-[300px] bg-[url('assets/images/bg.png')] bg-no-repeat bg-center bg-cover flex justify-center items-center">
    <div class="m-4 md:m-20 bg-white rounded-lg p-4">
        <div class="text-center my-2">test</div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, molestias facilis laborum voluptates ut iure commodi molestiae, fuga eligendi blanditiis aperiam quia nobis modi sint quod recusandae at sapiente reprehenderit?</div>
    </div>
</section>

<section id="wishes" class="min-h-[300px] bg-[url('assets/images/bg.png')] bg-no-repeat bg-center bg-cover flex justify-center items-center">
    <div class="m-4 md:m-20 bg-white rounded-lg p-4">
        <div class="text-center my-2">test</div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, molestias facilis laborum voluptates ut iure commodi molestiae, fuga eligendi blanditiis aperiam quia nobis modi sint quod recusandae at sapiente reprehenderit?</div>
    </div>
</section>
<section id="footer" class="min-h-[300px] bg-[url('assets/images/bg.png')] bg-no-repeat bg-center bg-cover flex justify-center items-center">
    <div class="text-center p-4 md:p-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quos quidem, architecto in corporis placeat, tempora quas incidunt libero omnis sequi nulla quam rem quibusdam laudantium animi ducimus facilis autem?</div>
</section>

<div class="fixed right-4 top-4 z-50">
    <div class="flex gap-4">
        <button (click)="switchLang('en')">en</button>
        <button (click)="switchLang('id')">id</button>
    </div>
</div>